/* Estilos Generales */
body {
  background-color: #FEEEE8;
}

/* Estilos del Pie de Página */
footer {
  background-color: #472D48;
  font-size: 22px;
  padding: 50px;
  border-image: none;
  border-style: none;
}

footer a {
  color: #fff;
  font-weight: normal;
  background-color: #472D48;
  border-image: none;
  border-style: none;
  text-decoration: none;
}

footer p {
  color: #FABBA5;
  font-size: 25px;
  font-weight: bold;
}

footer ul {
  list-style: none;
  background-color: #472D48;
  border-image: none;
  border-style: none;
  color: #fff;
}

/* Estilos del Formulario de Reserva */
.text-center{
  font-weight: bold;
}

.card{
  background-color: #FEEEE8;
  width: 70%;
  margin: 100px auto; /* Centrado automático */
  box-shadow: 1px 5px 5px 1px;
  color: #472D48;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.cuadro{
  width: 100%;
  padding: 8%;
  padding-top: 2%;
  font-size: 120%;
}
.reservation-form {
  background-color: #ffffff00;
  padding: 40px;
  border-radius: 8px;
  width: 700px;
  margin: 100px auto; /* Centrado automático */
  font-size: 20%;
}

.reservation-form h2 {
  color: #4b2545;
  text-align: center;
  font-size: 40px;
}

.reservation-form label {
  display: block;
  margin: 15px 0 5px;
  color: #4b2545;
  
}

.reservation-form input, 
.reservation-form select, 
.reservation-form textarea, 
.reservation-form button {
  width: calc(100% - 20px);
  padding: 20px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.reservation-form button {
  background-color: #3b1f3a;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.reservation-form button:hover {
  background-color: #2d1530; /* Color ligeramente más claro para el efecto hover */
}

/* Estilos de Flotación y Flexibilidad */
aside {
  float: right;
  padding: 2px;
  margin-right: 2px;
}

.float {
  display: flex;
  justify-content: center;
  float: inherit;
}

.float1 {
  justify-content: center;
  float: inline-start;
}

.icons {
  margin-top: 80px;
  margin-bottom: 5px;
}

.text-center{
  font-size: 350%;
  padding: 3%;
}

/* Estilos de Botones */
.btn-primary {
  background-color: #4b2545;
  border-color: #4b2545;
}
.btn-primary:hover{
  background-color: #2d1530;
  border-color: #2d1530;
}


/* Consultas de Medios para Adaptación Responsiva */
@media (min-width: 768px) and (max-width: 1024px) {
  .container.mt-5, .flex-column, .d-flex {
      width: auto;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .container.mt-5, .flex-column, .d-flex {
      width: 100%;
  }
}

@media (min-width: 940px) and (max-width: 1000px) {
  .container.mt-5, .flex-column, .d-flex {
      width:100%;
  }
}