
.promo {
  background-color: #540457;
  color: #F68961;
  text-align: center;
}

.titulo {
  background-color: #402941;
  color: #F68961;
  text-align: center;
  padding: 20px;
  font-size: 3rem;
  font-weight: bold;
}


.combos {
  color: #472d48;
  text-align: left;  
  font-size: 25px
}

.card-promocion {
  width: 65%;
  height: 100%;
  background-color: #7E6C7F;
  margin: 10px;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 0 4px 8px rgba(230, 194, 194, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.card-promocion:hover{
  transform: translateY(-5px);
}

.card-promocion img, .card-combos img {
  width: 100%  
}

.card-combos{
  width: 65%;
  height: 100%;
  margin: 10px;
  padding: 0px;
  box-shadow: 0 4px 8px rgba(230, 194, 194, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.card-combos:hover{
  transform: translateY(-5px);
}


.card-content {
  padding: 20px;
  font-size: 18px;
}


.card-content h3 {
  font-size: 25px;
  color: #EDEAED;
  margin-bottom: 10px;
}

.card-content p {
  margin-bottom: 5px;
}


.icons {
  margin-top: 80px;
  margin-bottom: 5px;
}

.precio {
  color: #efda6e;
  font-weight: bold;
}

.img-cupon {
  width: 20%;
  transition: transform 0.3s ease-in-out;
}
.img-cupon:hover{
  transform: translateY(-5px);
}
.audio1{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 14px;
  margin-right: 0;
}
.row{
  --bs-gutter-x: 0;
}

@media (min-width:768px) {
  .card-promocion {
    width: auto;
  }
  .card-combos{
    width: auto;
}
}

@media (min-width:992px) {
  .card-promocion, .card-combos {
    width: 80%;
  }
  
}
@media (min-width: 481px) and (max-width: 767px) { 
  body{
    width: 100%;
  }
  .audio1{
    margin-left: 20%;
  }
}